################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

LiberatorY5/obj
.vs/LiberatorY5/v17
.vs
*.suo
packages
/LiberatorY5/bin/x64/Debug
/LiberatorY5/bin/Debug
/LiberatorY5/bin/DLL
/LiberatorY5/LiberatorY5.csproj.user
